<section class="tiles">

{% for cooperation in site.pages %}
	{% if cooperation.category contains 'cooperations' %}
		<article class="style{{ forloop.index | plus:1 }}">
			<span class="image">
				<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
			</span>
			<a href="{{ cooperation.url | prepend:site.baseurl }}">
				<h2>{{ cooperation.title }}</h2>
				<div class="content">
					<p>{{ cooperation.description }}</p>
				</div>
			</a>
		</article>
	{% endif %}
		
{% endfor %}
	
</section>
	